.container{
    background-color: green;
    border: 2px solid red;
    display: flex;
    height: 500px;
    width: 500px;
}

.box{
    background-color: aqua;
    border: 2px solid salmon;
    height: 100px;
    width: 100px;
    margin: 20px;

    /* transition: 1s; */
    transition: transform 1.5s ease-in-out ;
    /* transition: background-color 1s ease-in-out 0.1s; */
}

.box:hover{
    background-color: blanchedalmond;
    transform: scale(1.2) translateX(300px) rotate(360deg);
}