.box{
    border: 1px solid black;
    max-height: 200px;
    width: 400px;
    overflow: auto;
}

.mydiv{
    border: 1px solid black;
    margin: 10px;
    min-height: 100px;
}

.transform{
    background-color: aqua;
    transform: translate(70px , 50px);
    transform: rotate(-20deg);
    transform: scale(1,10);
    transform: skew(45deg);
}