.container{
    border: 1px solid brown;
    background-color: yellow;
    display: grid;

    height: 700px;
    width: 600px;

    grid-template-rows: repeat(2,100px);
    grid-template-columns: repeat(3,100px);
    grid-gap: 10px;

    /* justify-content: start;
    justify-content: end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */
/* 
    align-items: start;
    align-items: end;
    align-items: baseline;
    align-items: stretch; */

    /* align-content: space-between; */

    place-content: center ;
    place-items: center;
}

.box{
    border: 1px solid red;
    background-color: aqua;
}

#box1{
    /* justify-self: start;
    justify-self: end;
    justify-self: center; */

    align-self: center;

}