.container{
    height: 700px;
    background-color: yellow;
    border: 1px solid black;
    display: grid;

    /* grid-template-rows: 30px 150px 400px 30px;
    grid-template-columns: 500px;

    grid-template-areas: 
    "hd"
    "side"
    "main"
    "ft"; */

    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "side side main main main main main main"
    "ft ft ft ft ft ft ft ft";

}

.box{
    /* height: 100px;
    width: 100px; */
    background-color: aqua;
    border: 1px solid black;
}

#Header{
    grid-area: hd;
}
#Sidebar{
    grid-area: side;
}
#Content{
    grid-area: main;
}
#Footer{
    grid-area: ft;
}